<h1>Current Stock</h1>


<% @stock.each do |stock|%>
<b>Stock type</b><br>
<p><a href="/stocks/<%= stock.id%>">    <%= stock.stock_type.upcase %><br>
  <%= stock.stock_level%> meters in stock</p><br>
<hr>

<%end%>