<h1>Current Stock</h1>


<% @stock.each do |stock|%>
<h2>Stock type</h2>

<table>
<tr>
  <td>Stock Type</td>
  <td>In Stock</td>
</tr>
<tr>
  <td><a href="/stocks/<%= stock.id%>"><%= stock.stock_type.upcase %></td>
  <td><%= stock.stock_level%> meters in stock</td>
</tr>


</table>

<%end%>