<h2>Price a new Job</h2>

<form action="/jobs" method="post">
  <label for="client">Client Name</label>
   <input type="text" name="client">

  <label for="address">Site Location</label>
    <input type="text" name="address">

  <label for="stock_id">Stock Required</label>
    <select name ="stock_id"> 
      <% @stocks.each do |stock| %>
      <option value="<%= stock.id %>"><%=stock.stock_type%></option>
      <%end%>
    </select>
    <label for="stock_req">Stock Required</label>
      <input type="number" name="stock_req">


    <label for="hr_id">Labour Required</label>
      <select name="hr_id">
      <% @hrs.each do |hr| %>
      <option value="<%=hr.id%>"><%= hr.labour_type%></option>
      <%end%>
      </select>

      <label for="hours_req">Labour Required</label>
        <input type="number" name="hours_req">

  <input type="submit" name="Add Job">
  


</form>